/*!
 * @auto-scaling true
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */
@import url("https://fonts.googleapis.com/css?family=Lato:400,900|IBM+Plex+Sans:400,700");
:root {
  --background: #000;
  --current-line: #2b2e33;
  --foreground: #fff;
  --primary: #608875;
  --comment: #6A9C93;
  --secondary: #BD718B;
  --green: #59835D;
  --orange: #ffb86c;
  --purple: #BD718B;
  --cyan: #6897bb;
  --red: #BD718B;
  --yellow: #f1fa8c;
  font-family: IBM Plex Sans;
}

/* General stuff. */
section {
  background-color: var(--background);
  color: var(--foreground);
  padding: 2em;
}
section code {
  background-color: var(--current-line);
  font-family: PragmataPro Mono Liga;
  padding: 0;
  margin: 0;
}
section a {
  color: var(--red);
}
section mark {
  color: var(--red);
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--foreground);
}

/* Headers. */
h1 {
  border-bottom: none;
  color: var(--primary);
  font-size: 1.6em;
}

h2 {
  border-bottom: none;
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.05em;
}

h6 {
  font-size: 1em;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit;
}
h2::part(auto-scaling),
h3::part(auto-scaling),
h4::part(auto-scaling),
h5::part(auto-scaling),
h6::part(auto-scaling) {
  max-height: 563px;
}

/* Code */
pre {
  background: var(--current-line);
  font-size: 15px;
  padding: 0.3em;
}

.hljs,
.hljs-subst,
.hljs-typing,
.hljs-variable,
.hljs-template-variable {
  color: var(--foreground);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: var(--comment);
}

.hljs-meta .hljs-doctag,
.hljs-built_in,
.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link,
.hljs-class {
  color: var(--cyan);
}

.hljs-title {
  color: var(--green);
}

.hljs-params {
  color: var(--orange);
}

.hljs-keyword {
  color: var(--pink);
}

.hljs-literal,
.hljs-number {
  color: var(--purple);
}

.hljs-regexp {
  color: var(--red);
}

.hljs-string,
.hljs-name,
.hljs-type,
.hljs-attr,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-template-tag {
  color: var(--yellow);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-params,
.hljs-emphasis {
  font-style: italic;
}

/* Special classes */
section.lead h1 {
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--primary);
  font-size: 60px;
}
section.lead p {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--foreground);
  font-size: 30px;
}
section.lead footer {
  margin: 0;
  position: absolute;
  bottom: 10%;
  left: 4%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--primary);
  font-size: 20px;
}

section.fact h2 {
  color: var(--primary);
  vertical-align: middle;
  text-align: center;
  font-size: 80px;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--comment);
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: var(--primary);
}

.token.operator,
.token.punctuation,
.token.attr-name {
  color: var(--);
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: var(--orange);
}

.token.entity,
.token.number,
.token.symbol {
  color: #6897bb;
}

.token.property,
.token.constant,
.token.variable {
  color: #9876aa;
}

.token.string,
.token.char {
  color: var(--current-line);
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a5c261;
}

.token.attr-value .punctuation:first-child {
  color: #a9b7c6;
}

.token.url {
  color: #287bde;
  text-decoration: underline;
}

.token.function {
  color: var(--secondary);
}

.token.regex {
  background: #364135;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #294436;
}

.token.deleted {
  background: #484a4a;
}

/*# sourceMappingURL=def.css.map */
